body {
    background-image: url("../img/log_kai2.jpg");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Overlay untuk membuat konten lebih mudah dibaca */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.card {
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.9);
    z-index: 1;
}

.card-header { 
    background-color: blue;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.btn-primary {
    background-color: blue;
    border-color: blue;
}

.btn-primary:hover {
    background-color: darkblue;
    border-color: darkblue;
}

.toggle-password {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #6c757d;
}